.wrapper {
  @media screen and (max-width: 768px) {
    background-color: black;
    padding: 1rem;
  }
  .container {
    // background-color: dodgerblue;
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-top: 2rem;
    }
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .left {
      background-color: black;
      @media screen and (max-width: 768px) {
        width: 70%;
        // border: 2px solid red;
        img {
          width: 100%;
        }
      }

      flex: 1;
      //   background-color: aquamarine;
      display: flex;
      height: 100%;

      > img {
        width: 100%;
        margin: auto;
        // border: 2px solid red;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      flex: 1;
      .headText {
        font-size: 3rem;
        letter-spacing: 2px;
        color: rgb(68, 68, 68);
        font-weight: 400;
      }
      .formSection {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 90%;
        margin: auto;
        // border: 2px solid rebeccapurple;
        input {
          height: 2rem;
          padding: 10px;
          transition: all 0.5s ease;
          cursor: pointer;
          border: none;
          outline: none;
          border-bottom: 1px solid rgb(213, 206, 206);
          font-size: 1.1rem;
          letter-spacing: 2px;
          &:hover {
            box-shadow: 1px 1px 14px rebeccapurple;
            border-radius: 7px;
            background-color: ghostwhite;
          }
          &::placeholder {
            color: rgb(68, 68, 68);
            letter-spacing: 1px;
            font-size: 0.91rem;
            font-style: italic;
            font-weight: 200;
            text-transform: capitalize;
          }
        }
        > button {
          padding: 1rem;
          width: 100%;
          color: white;

          font-weight: 300;
          font-size: 1.2rem;
          letter-spacing: 2px;
          cursor: pointer;
          border-radius: 7px;
          background-color: rgb(114, 67, 161);
          transition: all 0.5s ease;
          &:hover {
            border-radius: 7px;
            color: white;
            letter-spacing: 24px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
